.modalContainer{
    height: 300px;
    width : 400px;
    border: 2px solid rgb(245, 81, 6);
    border-radius: 5px;
    background:#fff;
}

.modalHeader {
    display: flex;
    padding: 8px;
    justify-content: space-between;
}

.modalHeader > span {
    cursor: pointer;
}
.modalConent{

}
.modalFooter {

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height : 100vh;
    background: rgb(146, 145, 145, 0.5);
    display:flex;
    justify-content: center;
    align-items: center;
}